/* CSS to style the About section */
.navbar_about {
    position: fixed;
    padding-top: 0;
    z-index: 1000;
    top: 0;
    width: 100%;
    background: linear-gradient(to right,#FAD0C4, #FAD0C4, #FFD1FF);
    overflow: hidden;
}

.navbar_about a {
    float: right;
    color: black;
    font-weight: 400;
    text-align: center;
    padding: 20px 20px;
    font-size: 150%;
    text-decoration: none;
}
.textt{

    font-family:'Times New Roman', Times, serif;


}

.About {
    text-align: center;
    color: #4E4376;
    font-weight: 600;
    font-size: 48px;
    font-family: 'Inter',sans-serif;

}
.boxes{
    padding-bottom: 5%;
}

.box {
    display: flex;
}

.info {
    display: flex;
    width: 50%;
    padding-top: 2%;
    padding-right: 8%;
}

img {
    max-width: 90%;
    height: 70%;
    margin: 0 auto;
    border-radius: 50%;
}

.text-content {
    width: 50%; /* Set the width of the text column to 50% */
    padding-right: 50px;
}

.rectangle {
    background-color: #537895;
    width: 25%;
    height: 50px;
    margin: 1%;
    border-radius: 10px;
}

.row {
    display: flex;
}

p{
    font-family:'Inter',sans-serif;
}
body{
  margin: 0;
  padding-top: 5%;
}
.First{
    
    position: absolute;
    left: 2%; /* Position it at the extreme left */
    top: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-weight: bolder !important;
}
a:hover {
    text-decoration: underline;
}



@media screen and (max-width: 768px) {

    body{
        padding-top: 50%;
    }
    .navbar_about a {
        float: none;
        display: block;
        text-align: center;
        width: 100%;
        padding: 15px 0;
    }
  
    li{
      font-size: 10px;
    }
    .First {
        position: static;
        text-align: center;
        margin-bottom: 20px;
        font-weight: bolder !important;
    }

    img{
    max-width: 60%;
    height: 10%;
    margin: 0 auto;
    border-radius: 50%;

    }

    .text-content p
    {
        display: inline-flex;
        width: 100%;
        padding: 0;

    }

}