/* CSS to style the About section */
.navbar_about {
    background: linear-gradient(to right, #FAD0C4, #FAD0C4, #FFD1FF);
    overflow: hidden;
    padding-top: 0;
}

.navbar_about a {
    float: right;
    color: black;
    font-weight: 400;
    text-align: center;
    padding: 20px 20px;
    font-size: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.About {
    text-align: center;
    color: #4E4376;
    font-weight: 600;
    font-size: 48px;
    
}


.box {
    display: flex;
}

.info {
  font-size: medium;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 60%;
    text-align: left;
}



.text-content {

    width: 40%; /* Set the width of the text column to 50% */
    padding-left: 20px;
}

.row{
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 159, 250);
 
  
}

.rectangle {
  padding: 5px;
  /* padding-left: 10px; */
    
    background-color:#e0d1ff;
    width: 80%;
    height: 20px;
    margin-bottom: 5%;
    border-radius: 10px;
}


body{
  margin: 0;
}
.First{
  float: left;
  font-weight:bold;

    position: absolute;
    left: 2%; /* Position it at the extreme left */
    top: 0%;
    font-size: 130% !important;
}
.rectangle3 {
  padding: 5px;
  background-color: #e3d1ff;
  width: 80%;
  height: 200px;
  margin-bottom: 5%;
  border-radius: 10px;
}
button{
  align-items: center;
  height: 40px;
  font-size:large ;
  width: 150px;
  color: #ffffff;
  border-color: rgb(255, 255, 255);
  border-width: 2px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background:linear-gradient(to right,#b878de,#518ac7 );
  width: 15%;
  border-radius: 10%;
}
img
{
  width: 50px;
  height: 50px;
}

.icon{
  .icon {
    vertical-align: middle;
    max-width: 10%;
    margin-top: 3px;
}
} 
.info{
  text-align: left;

}

.name{
  margin-left: 20%;
}
.details{
  font-size:130%;
  text-align: left;
  
  margin-left: 10%;
  padding-left: 10px;
  
}
a:hover {
  text-decoration: underline;
}

